### Sum of the first nth term of Series

Series: 1 + 1/4 + 1/7 + 1/10 + 1/13 + 1/16 +...
Rules:

You need to round the answer to 2 decimal places and return it as String.
If the given value is 0 then it should return 0.00
You will only be given Natural Numbers as arguments.
Examples:

SeriesSum(1) => 1 = "1.00"
SeriesSum(2) => 1 + 1/4 = "1.25"
SeriesSum(5) => 1 + 1/4 + 1/7 + 1/10 + 1/13 = "1.57"

In [81]:
def series_sum(n):
    # Happy Coding ^_^
    initial_value = 4.00 
    if n==0:
        return "%.2f" % 0
    
    if n==1:
        output="%.2f"% 1
        return output
    else:
        output=float("%.2f"% 1)
        for i in range(n-1):
            output+= 1/initial_value
            initial_value+=3.00
    
    return "%.2f" % output

In [82]:
print(series_sum(2))
print(series_sum(1))
print(series_sum(5))
print*=series_sum(0)

1.25
1.00
1.57

'0.00'

In [77]:
def series_sum(n):
    return '{:.2f}'.format(sum(1.0/(3 * i + 1) for i in range(n)))

In [78]:
series_sum(0)

'0.00'

TypeError: 'float' object is not iterable